:root {
  --clr-primary-100: rgb(3, 3, 48);
  --clr-primary-200: rgb(35, 205, 211);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--clr-primary-100);
  color: var(--clr-primary-200);
  font-family: "StopmotionRegular";
}

*:not(.container-taskadder input, button) {
  position: relative;
  margin-left: 2%;
}

.container-taskadder input,
button {
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-weight: 400;
}
